body {
    background:black;
    margin:0;
    padding:0;
}
.sidenav {
    height:100%;
    width:10vw;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    overflow-x:hidden;
    padding-top:1vh;
    background:linear-gradient(mediumpurple,indigo);
    text-align:center;
}

.sidenav a {
    /* padding: 6px 8px 6px 16px; */
    text-decoration:none;
    font-size:2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-weight:bold;
    align-items: center;
}

.sidenav div {
    padding:2vh;
    align-items: center;
}

.main {
    margin-left:10vw;
    top:0;
    /* width:vw; */
    height:100%;
}

.banner-image {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), url("images/mainBanner.jpg");
    height:40%;
    background-position: center,top;
    background-repeat: no-repeat;
    background-size:cover;
    position:sticky;
    top:0;
    margin:0;
}

@media (max-width:768px) {
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/mobileBanner.jpg");
    }
}
